:root {
    --primary-color: #adf0d4;
    --secondary-color: #1fd8a4;
    --bg-color: #0d1512;
}

body {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 14px;
}
