:root {
    --primary-color: #adf0d4;
    --secondary-color: #1fd8a4;
    --bg-color: #0d1512;
    --bg-lighter: #1b2c26;
    --bg-darker: #020303;
}

body {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 14px;
}

.initial-input {
    background: var(--bg-darker);
    color: var(--primary-color);
}

.message-container-user {
    background: var(--bg-darker);
    color: var(--primary-color);
}

.message-container-bot {
    background: var(--bg-lighter);
    color: var(--secondary-color);
}

.artifact-button {
    background: var(--bg-darker);
    color: var(--primary-color);
}

.sidepanel-container {
    background: var(--bg-lighter);
    color: var(--secondary-color);
}

.sidepannel-header {
    border-color: var(--bg-color);
}

.sidepanel-button:hover {
    background: var(--bg-color);
}

.sidepanel-code-renderer {
    background: var(--bg-color);
}
